body {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.container {
  border: 1px solid black;
}


input, select, button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
}

.valor-final {

margin: auto;

}
